<h2>SECTION 9. ASSIGNMENT</h2>
<div class="contrainer">
  <div class="row">
    <div class="col-xs-12">
      <span>Status changed: {{ counter }} times</span>
    </div>
  </div>
  <div class="flx-around mb10">
    <div class="row">
      <div class="col-xs-4">
        <span>Active users:</span>
        <app-active-users
          *ngFor="let user of activeUsers; let i = index"
          [id]="i"
        ></app-active-users>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <span>Inactive users:</span>
        <app-inactive-users
          *ngFor="let user of inactiveUsers; let i = index"
          [id]="i"
        ></app-inactive-users>
      </div>
    </div>
  </div>
</div>
