<div class="container flex-container">
  <app-header></app-header>
</div>
<div *ngIf="page === 'first'; else next">
  <div class="container flex-container">
    <div class="col-md-6 brd" style="margin-bottom: 15px">
      <div>
        <span style="margin-right: 10px">type server name</span>
        <input [(ngModel)]="serverName" type="text" />
        <button style="margin-right: 10px" (click)="createServer()">
          create server
        </button>
        <button (click)="changeStatus()">change status</button>
      </div>
      <div style="margin-top: 15px">
        <ul>
          @for (server of servers; track $index) {
          <li
            style="margin-bottom: 10px"
            [ngStyle]="{ backgroundColor: setBg(server.serverStatus) }"
            [ngClass]="{ smallLetters: server.serverStatus === 'online' }"
          >
            {{ server.name }} is {{ server.serverStatus }}
            <button (click)="deleteServer(server.name)">delete</button>
          </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-md-8 brd">
      <button (click)="showDetails()">Show details</button>
      @if(detailShowed) {
      <span style="margin-left: 10px">Secret password = tuna</span>
      }
      <div class="div" style="margin-top: 10px">
        @for (block of blocks; track $index) {
        <span
          class="block"
          [ngStyle]="{ backgroundColor: setBgd(block) }"
          [ngClass]="{ white: $index >= 4 }"
          >{{ block }}</span
        >
        }
      </div>
    </div>
  </div>
  <div class="container flex-container">
    <app-section-5></app-section-5>
  </div>

  <div class="container flex-container">
    <app-section-7></app-section-7>
  </div>
  <div class="container flex-container">
    <app-section-9></app-section-9>
  </div>
  <div class="container flex-container">
    <app-test-section></app-test-section>
  </div>
</div>
<ng-template #next>
  <app-section-11></app-section-11>
</ng-template>
