<hr />
<h2>SECTION 7. DIRECTIVES</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <h3 appBasicHighlight>BasicDirective working</h3>
      <h3
        appBetterHighlight
        [defaultColor]="'yellow'"
        [highlightColor]="'orange'"
      >
        BetterDirective working
      </h3>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" *ngFor="let odd of oddNums; index as i">
            <span [ngStyle]="{ color: i % 2 === 0 ? 'blue' : 'green' }">{{
              odd
            }}</span>
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li class="list-group-item" *ngFor="let even of evenNums; index as i">
            <span [ngStyle]="{ color: i % 2 === 0 ? 'blue' : 'green' }">{{
              even
            }}</span>
          </li>
        </div>
      </ul>
      <div>
        <div [ngSwitch]="value">
          <div *ngSwitchCase="5">Value is more than 5</div>
          <div *ngSwitchCase="10">Value is more than 10</div>
          <div *ngSwitchDefault>Value is just a value</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
